:root {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #FCFCFC;
  color: #232323;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0px;
  padding: 0px;
}
